$color-blue: #38bcdb;
$color-blue-hover: #2e91a3;
$color-grey: #a9aaab;
$color-lightgrey: #dcdcdc;
$color-black: #000000;
$color-text-white: white;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

@mixin image-row {
  position: relative;
  background-color: $color-text-white;
  z-index: -1;
  & img {
    width: 100%;
    height: 100%;
  }
}

@mixin icon {
  position: relative;
  width: 90%;
  text-align: center;
  font-family: $font-secondary;
}

body {
  font-family: $font-primary;
  color: $color-text-white;
}

nav {
  position: relative;
  background-color: $color-black;
  height: 100px;
  opacity: 0.8;
  img {
    position: absolute;
    float: left;
    left: 100px;
    top: 10px;
  }
  section {
    font-family: $font-secondary;
    text-align: right;
  }
  a {
    color: $color-blue;
    &:hover {
      color: $color-blue-hover;
      text-decoration: none;
    }
  }
}

.info {
  @include image-row;
  &-over {
    float: left;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 100px;
    width: 85%;
  }
  &-left {
    h1 {
      font-size: 50px;
      font-weight: 700;
    }
    h4 {
      font-family: $font-secondary;
    }
    &-bottom {
      padding-top: 20px;
      form {
        height: 200px;
        width: 450px;
        color: $color-black;
        background-color: $color-text-white;
        opacity: 0.8;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        h1 {
          font-size: 32px;
        }
        .form-control {
          color: $color-black;
          text-align: center;
          font-size: 24px;
          padding: .25rem .50rem;
          border: none;
          border-radius: 0px;
          border-bottom: 2px solid black;
        }
      button {
        width: 100%;
        position: relative;
        background-color: $color-blue;
        border: 0px;
        font-size: 32px;
        font-weight: 700;
        font-family: $font-primary;
        padding: .25rem .50rem;
      }
      }
    }
  }
  &-right {
    text-align: right;
    section {
      font-size: 22px;
      color: $color-text-white;
    }
    &-top {
      margin: 0px auto 75px auto;
      padding-bottom: 10px;
      border-bottom: 5px solid $color-blue;
      font {
        font-size: 36px;
        font-weight: 700;
        color: $color-blue;
      }
    }
    &-bottom {
      margin: 50px auto 50px auto;
      padding-bottom: 10px;
      border-bottom: 5px solid $color-text-white;
      font {
        font-size: 36px;
        font-weight: 700;
      }
    }
  }
}

.feature {
  @include image-row;
  &-over {
    position: absolute;
    z-index: 1;
    width: 100%;
    & h1 {
      font-size: 40px;
      text-decoration: underline;
      text-align: center;
      margin: 40px;
    }
    & .phone {
      position: absolute;
      z-index: 2;
      width: 20%;
      height: auto;
      left: 40%;
      top: 125px;
    }
  }
  &-left {
    @include icon;
    padding: 0px 175px 50px 100px;
  }
  &-right {
    @include icon;
    padding: 0px 100px 50px 150px;
  }
  & .icon {
    display: block;
    margin: auto;
  }
  & .icon-img {
    width: 225px;
    margin-bottom: 20px;
  }
  & .descretion {
    text-align: center;
    font-size: 12px;
  }
}

.about {
  @include image-row;
  &-over {
    position: absolute;
    z-index: 1;
    font-family: $font-secondary;
    font-size:26px;
    margin: 60px 60px;
    text-align: center;
  }
  &-title {
  color: $color-blue;
  font-family: $font-primary;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  }
}

.faq {
  @include image-row;
  &-over {
    position: absolute;
    z-index: 1;
    margin: 40px 100px;;
  }
  &-title {
    color: $color-black;
    font-family: $font-primary;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
  }
  #accordion {
    font-family: $font-secondary;
    color: $color-black;
    .card {
      background-color: transparent;
      border: none;
      max-width: 100%;
    }
    .card-header {
      padding: 0px;
      width: 90%;
      border: none;
      background-color: transparent;
    }
    .btn {
      color: $color-black;
      background-color: transparent;
      white-space: normal;
      text-align: left;
      font-size: 18px;
    }
  }
}

.spacer {
  height: 80px;
  width: 100%;
}

footer {
  background-color: $color-blue;
}
