body {
  font-family: "Roboto", sans-serif; }

nav {
  background-color: black; }

.info {
  background-image: url("../images/data_hero.jpg"); }

.feature {
  background-image: url("../images/featuring.jpg"); }

.story {
  background-image: url("../images/about.jpg"); }

.faq {
  background-image: url("../images/faq.jpg"); }

footer {
  background-color: #38bcdb; }
