.container-fluid {
  padding: 0px;
  width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #a1ecee; }

nav {
  position: relative;
  background-color: #000000;
  height: 100px;
  opacity: 0.8; }
  nav img {
    position: absolute;
    float: left;
    left: 100px;
    top: 10px; }
  nav section {
    font-family: "Roboto Slab", serif;
    text-align: right; }
  nav a {
    color: #38bcdb; }
    nav a:hover {
      color: #2e91a3;
      text-decoration: none; }

.info {
  position: relative;
  background-color: #a1ecee; }
  .info img {
    width: 100%;
    height: 100%; }
  .info-over {
    float: left;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 100px;
    width: 85%; }
  .info-left h1 {
    font-size: 50px;
    font-weight: 700; }
  .info-left h4 {
    font-family: "Roboto Slab", serif; }
  .info-left-bottom {
    padding-top: 20px; }
    .info-left-bottom form {
      position: relative;
      z-index: 2;
      height: 250px;
      width: 450px;
      color: #000000;
      background: rgba(255, 255, 255, 0.7);
      text-align: center;
      border-radius: 5px;
      padding: 20px; }
      .info-left-bottom form .form-row {
        width: 100%;
        text-align: center; }
      .info-left-bottom form h1 {
        font-size: 32px; }
      .info-left-bottom form .form-control {
        color: #000000;
        text-align: center;
        font-size: 24px;
        padding: .25rem .50rem;
        background: rgba(255, 255, 255, 0);
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid black; }
      .info-left-bottom form button {
        width: 100%;
        position: relative;
        background: #38bcdb;
        border: 0px;
        font-size: 32px;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
        padding: .25rem .50rem; }
        .info-left-bottom form button:hover {
          background-color: #2e91a3; }
  .info-right {
    text-align: right; }
    .info-right section {
      font-size: 22px;
      color: white; }
    .info-right-top {
      margin: 0px auto 75px auto;
      padding-bottom: 10px;
      border-bottom: 5px solid #38bcdb; }
      .info-right-top font {
        font-size: 36px;
        font-weight: 700;
        color: #38bcdb; }
    .info-right-bottom {
      margin: 50px auto 50px auto;
      padding-bottom: 10px;
      border-bottom: 5px solid white; }
      .info-right-bottom font {
        font-size: 36px;
        font-weight: 700; }

.feature {
  position: relative;
  background-color: #a1ecee; }
  .feature img {
    width: 100%;
    height: 100%; }
  .feature-over {
    position: absolute;
    z-index: 1;
    width: 100%; }
    .feature-over h1 {
      font-size: 40px;
      text-decoration: underline;
      text-align: center;
      margin: 40px; }
    .feature-over .phone {
      position: absolute;
      z-index: 2;
      width: 20%;
      height: auto;
      left: 40%;
      top: 125px; }
  .feature-left {
    position: relative;
    width: 90%;
    text-align: center;
    font-family: "Roboto Slab", serif;
    padding: 0px 175px 50px 100px; }
  .feature-right {
    position: relative;
    width: 90%;
    text-align: center;
    font-family: "Roboto Slab", serif;
    padding: 0px 100px 50px 150px; }
  .feature .icon {
    display: block;
    margin: auto; }
  .feature .icon-img {
    width: 225px;
    margin-bottom: 20px; }
  .feature .descretion {
    text-align: center;
    font-size: 12px; }

.about {
  position: relative;
  background-color: #a1ecee; }
  .about img {
    width: 100%;
    height: 100%; }
  .about-over {
    position: absolute;
    z-index: 1;
    font-family: "Roboto Slab", serif;
    font-size: 26px;
    margin: 60px 60px;
    text-align: center; }
  .about-title {
    color: #38bcdb;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-align: center; }

.faq {
  position: relative;
  background-color: #a1ecee; }
  .faq img {
    width: 100%;
    height: 100%; }
  .faq-over {
    position: absolute;
    z-index: 1;
    margin: 40px 100px; }
  .faq-title {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-align: center; }
  .faq #accordion {
    font-family: "Roboto Slab", serif;
    color: #000000; }
    .faq #accordion .card {
      background-color: transparent;
      border: none;
      max-width: 100%; }
    .faq #accordion .card-header {
      padding: 0px;
      width: 100%;
      border: none;
      background-color: transparent; }
      .faq #accordion .card-header button {
        width: 100%; }
    .faq #accordion .btn {
      color: #000000;
      background-color: transparent;
      white-space: normal;
      text-align: left;
      font-size: 18px; }

.continue {
  padding: 0px; }

.fa-sm {
  text-align: left;
  padding-left: 0px; }

.footer {
  background-color: #a1ecee;
  font-family: "Roboto Slab", serif;
  color: #000000;
  max-width: 100%;
  height: 200px;
  padding: 25px 100px; }
  .footer-right {
    text-align: right; }
